/* .form input[type=text] {
  width: 30%;
  padding:10px;
  border: 1px solid black;   
  border-radius: 4px;
  box-sizing: border-box;
  font-size: medium;
}
.form input[type=submit]{
    padding:  10px;
    border: 1ox solid black;
    background-color: white;
}
.form input[type=submit]:hover{
     cursor: pointer;
     background-color: olive;

} */